<div class="synth-component">
  <div class="synth-component__title">
    Effects
  </div>
  <div class="synth-component__subtitle">
    Mangling the wave
  </div>

  <div class="synth-component__content">
    <div class="effects-grid" *ngIf="effects$ | async as effects">
      <div class="effects-grid__item">
        Distortion
        <mat-slider min="0" max="1" step="0.01"
          [value]="effects.distortion"
          (valueChange)="setDistortion($event || 0)" vertical>
        </mat-slider>
      </div>
      <div class="effects-grid__item">
        Reverb
        <mat-slider min="0" max="1" step="0.01"
          [value]="effects.reverb"
          (valueChange)="setReverb($event || 0)" vertical>
        </mat-slider>
      </div>
    </div>

  </div>
</div>


