<div class="synth-component">
  <div class="synth-component__title">
    Oscillator
  </div>
  <div class="synth-component__subtitle">
    choose oscillator type
  </div>

  <div class="synth-component__content">
    <div class="oscillators-cont">
      <div class="oscillator" >
        <button mat-button color="accent"
        (click)="setOsc(osc.type)"
        color="primary"
        *ngFor="let osc of oscillators$ | async">
        {{osc.type}}</button>

      </div>
    </div>
  </div>
</div>
