<div class="synth-component">
  <div class="synth-component__title">
    Oscillator
  </div>
  <div class="synth-component__subtitle">
    choose oscillator type
  </div>

  <div class="synth-component__content">
    <div class="oscillators-cont">
      <div class="oscillator-flex" >
        <button mat-stroked-button color="accent"
        [class.active]="osc.active"
        (click)="setOsc(osc.type)"
        *ngFor="let osc of oscillators$ | async">
        {{osc.type}}</button>

      </div>
    </div>
  </div>
</div>
