
html, body { height: 100%; background: #303030;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.synth-component {
  border: .5rem solid white;
  border-radius: 1rem;
  color: white;
  padding: 1rem .75rem;

  &__title {
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__subtitle {
    font-size: .9rem;
    margin-bottom: 1rem;
  }
}
